@import "tailwindcss";





.imgContainer{
    background-image: url("images/plan-69159a65c5684763515973.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    display: grid;
    grid-template-columns: 38% 16.5% 22.5% 22.5%;
    grid-template-rows: 34% 32% 33% ;
}


.box1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.box3{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.box4{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.box5{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.box6{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}



